﻿
<table class="table">
    <thead>
        <tr>
            <th scope="col">Total Devices</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">@NumberOfDevice</td>
        </tr>
    </tbody>
</table>